# Test Workload - Echo Server
# Simple HTTP echo server for basic connectivity testing
apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo-server
  namespace: kube-compass-test
  labels:
    app: echo-server
    layer: "2"
    test-type: connectivity
spec:
  replicas: 1
  selector:
    matchLabels:
      app: echo-server
  template:
    metadata:
      labels:
        app: echo-server
    spec:
      containers:
      - name: echo
        image: ealen/echo-server:latest
        ports:
        - containerPort: 80
        env:
        - name: PORT
          value: "80"
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "64Mi"
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: echo-server
  namespace: kube-compass-test
  labels:
    app: echo-server
spec:
  type: NodePort
  selector:
    app: echo-server
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP
    name: http
