apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: webshop

bases:
- ../../base

namePrefix: dev-

replicas:
- name: webshop-app
  count: 1

images:
- name: harbor.webshop.example.com/webshop/webshop-app
  newTag: latest

patchesStrategicMerge:
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: webshop-app
  spec:
    template:
      spec:
        containers:
        - name: webshop
          env:
          - name: ENVIRONMENT
            value: "dev"
          - name: LOG_LEVEL
            value: "debug"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi

configMapGenerator:
- name: webshop-config
  literals:
  - ENVIRONMENT=dev
  - LOG_LEVEL=debug
