apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: webshop

bases:
- ../../base

namePrefix: prod-

replicas:
- name: webshop-app
  count: 5

images:
- name: harbor.webshop.example.com/webshop/webshop-app
  newTag: latest

patchesStrategicMerge:
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: webshop-app
  spec:
    template:
      spec:
        containers:
        - name: webshop
          env:
          - name: ENVIRONMENT
            value: "production"
          - name: LOG_LEVEL
            value: "warn"
          resources:
            requests:
              cpu: 1000m
              memory: 1Gi
            limits:
              cpu: 2000m
              memory: 2Gi

configMapGenerator:
- name: webshop-config
  literals:
  - ENVIRONMENT=production
  - LOG_LEVEL=warn
