# ArgoCD App-of-Apps Pattern
# Platform infrastructure applications for dev environment

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-infrastructure
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/vanhoutenbos/KubeCompass.git
    targetRevision: main
    path: kubernetes/platform
  
  destination:
    server: https://kubernetes.default.svc
    namespace: platform
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: observability
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/vanhoutenbos/KubeCompass.git
    targetRevision: main
    path: kubernetes/observability
  
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webshop-application
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/vanhoutenbos/KubeCompass.git
    targetRevision: main
    path: kubernetes/applications/webshop
    
    kustomize:
      namePrefix: dev-
  
  destination:
    server: https://kubernetes.default.svc
    namespace: webshop
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
  
  ignoreDifferences:
  - group: apps
    kind: Deployment
    jsonPointers:
    - /spec/replicas
